body{
    margin: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
nav{
    background-color: yellow;
    padding: 30px 15px;
}
.navlink{
    color:darkslategray;
}
.main-links{
    width: 200px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.center{
    width: 300px;
    margin: 0 auto;
}
h1,h4,h3,p{
    text-align: center;
}

img{
    width: 250px;
    height: 300px;
    display: block;
    margin: 0 auto;
}
.friend-block{
    margin-top: 100px;
}
.friends-link{
    color: darkslategray;
    font-size: 24px;
}